<% title "Projects" %>

<table>
  <tr>
    <th>Name</th>
    <th>Last Build</th>
    <th>Last Failure</th>
    <th>Last Successful</th>
    <th>State</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%=h project.name %></td>
      <td><%=h project.last_build_id %></td>
      <td><%=h project.last_failure_id %></td>
      <td><%=h project.last_successful_id %></td>
      <td><%=h project.state %></td>
    </tr>
  <% end %>
</table>

